<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <app-top-menu></app-top-menu>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <app-left-menu></app-left-menu>
    </div>
   <!-- <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">

        <div style="height:100px;">
        </div>
        <div style="padding: 15px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


