<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
    <li><a routerLink="/principal/menu-inicio">
            <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
        </a></li>
    <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
    <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
            <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa"
                aria-hidden="false"> SubModulo Sistema</span>
        </a></li>
</ul>
<!--breadcrumbs end -->
<section class="panel mat-elevation-z8">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">SUB MODULOS DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" (click)="listarSubModulos()"><i class="fa fa-rotate-right"></i>
                Listar</button>
        </span>
    </header>
    <div class="panel-body">
        <div class="tabla-responsiva">
            <table class="table table-striped table-hover" show-filter="true">
                <thead>
                    <tr>
                        <th style="width: 100px;">Codigo</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th style="text-align: center">Estado</th>
                        <th style="width: 100px">Modulos</th>
                        <th style="width: 100px;text-align: center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of funciones; let i = index">
                        <td class="hidden-phone">{{f.codigo}}</td>
                        <td class="hidden-phone">{{f.nombre}}</td>
                        <td class="hidden-phone">{{f.descripcion}}</td>
                        <td style="text-align: center">
                            <span class="label label-mini"
                                [ngClass]="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
                        </td>
                        <td data-title="'SubModulos'" style="text-align:center">
                            <span class="label label-mini label-primary" (click)="verFunciones(f)"
                                style="cursor:pointer">ver</span>
                        </td>
                        <td>
                            <button style="margin-right: .25em" class="btn btn-primary btn-xs" (click)="prepararEditar(f,i)" data-toggle="modal"
                                data-target="#modalEditar"><i class="fa fa-pencil"></i></button>
                            <button style="margin-right: .25em" class="btn btn-danger btn-xs" style="margin-right: .25em"
                                (click)="eliminarSubModulo(f.subModuloID, f.nombre, i)" data-toggle="modal"
                                data-target="#eliminarModal"><i class="fa fa-trash-o "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float:right;">
            <button style="margin-right: .25em" class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i
                    class="fa fa-plus"></i> Agregar</button>
        </div>

    </div>
</section>

<!-- Modal -->
<div id="eliminarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dialogo de confirmacion</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar este registro {{subModuloSeleccionado.nombre}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" (click)="confirmacionElimanarFuncion()" class="btn btn-warning"
                    data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR SUB MODULO SISTEMA</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Modulo</label>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="subModuloSel.subModuloID">
                                    <option *ngFor="let m of modulos" value="{{m.moduloID}}">{{m.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Codigo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="subModuloSel.codigo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="subModuloSel.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="subModuloSel.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="subModuloSel.estado"
                                            [value]="'A'">activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="subModuloSel.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarSubModulo()"><i class="fa fa-save"></i>
                    Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVO SUB MODULO</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Modulo</label>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="nuevoSubModulo.moduloID">
                                    <option *ngFor="let sm of modulos" value="{{sm.moduloID}}">{{sm.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Codigo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevoSubModulo.codigo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevoSubModulo.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="nuevoSubModulo.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevoSubModulo.estado" [value]="'A'"
                                            checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevoSubModulo.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="agregarSubModulo()"><i class="fa fa-check"></i>
                    Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--
  <div class="modal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">LISTA DE FUNCIONES</h4>
        </div>
        <div class="modal-body">
            <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
              <table class="table table-striped table-advance table-hover" >
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th style="width: 65px;text-align: center">Estado</th>
                </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="f in funcionesSel">
                      <td class="hidden-phone">{{f.nombre}}</td>
                      <td class="hidden-phone">{{f.clave}}</td>
                      <td style="text-align: center">
                          <span class="label label-mini" ng-class="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
                      </td>
                  </tr>
                </tbody>
  
              </table>
            </div>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
-->