<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
  <li><a routerLink="/principal/menu-inicio">
      <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
    </a></li>
  <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
  <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
      <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa" aria-hidden="false">
        Guia Empresas</span>
    </a></li>
</ul>
<!--breadcrumbs end -->

<section class="panel mat-elevation-z8">
  <header class="panel-heading">
    <h4 style="display:inline;line-height: 1.9">GUIA DE EMPRESAS</h4>
    <span class="tools pull-right">
      <button class="btn btn btn-primary btn-sm" (click)="listarEmpresas()"> <i class="fa fa-rotate-right"></i>
        Listar</button>
    </span>
  </header>
  <div class="panel-body">
    <div class="tabla-responsiva">
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th style="width:50px">N</th>
            <th style="width:20%">Razon Social</th>
            <th style="width:10%">RUC</th>
            <th style="width:20%">Pag. Web</th>
            <th style="width:15%">Telefono</th>
            <th style="width:50px;text-align: center">Condicion</th>
            <th style="width: 65px">Accion</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let u of guiaEmpresas;let i = index ">
            <td class="hidden-phone">{{u.i}}</td>
            <td class="hidden-phone">{{u.razonSocial}}</td>
            <td class="hidden-phone">{{u.ruc}}</td>
            <td class="hidden-phone">{{u.pagWeb}}</td>
            <td class="hidden-phone">{{u.telefono}}</td>
            <td style="text-align: center">
              <span class="label label-mini"
                [ngClass]="{'label-info': u.estado=='A','label-warning': u.estado=='I'}">{{u.estado}}</span>
            </td>
            <td>
              <button style="margin-right: .25em" class="btn btn-primary btn-xs" (click)="prepararEditar(m, i)"
                data-toggle="modal" data-target="#modalEditar"><i class="fa fa-pencil"></i></button>
              <button style="margin-right: .25em" class="btn btn-danger btn-xs"
                (click)="eliminarModulo(m.moduloID, m.nombre, i)" data-toggle="modal" data-target="#eliminarModal"><i
                  class="fa fa-trash-o "></i></button>
            </td>

          </tr>
        </tbody>

      </table>
    </div>
    <div align="right">
      <button class="btn btn btn-primary btn-sm"><i class="fa fa-plus"></i> Agregar</button>
    </div>

  </div>
</section>