<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z8" style="text-transform: uppercase;">
    <li><a routerLink="/principal/menu-inicio">
            <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
        </a></li>

</ul>
<!--breadcrumbs end -->
<div class="col-md-3 col-sm-4 " *ngFor="let f of funcionalidades" style="margin-bottom: 25px">
    <div class="feed-box text-center">
        <section class="panel mat-elevation-z20" style="margin-bottom: 3px;">
            <a [routerLink] (click)="elegirVista(f)">
                <div style="padding: 5px;">
                    <img alt="" src="{{f.icono}}">
                    <h5 style="font-weight: bold;font-size: 15px; color:#b51e51 ">{{f.nombre}}</h5>
                </div>
            </a>
        </section>

    </div>

</div>