<body class="login-body">
  <div id="background"></div>
  <div class="container">
    <div class="form-signin">
      <div class="form-container row">
        <div id="main-login" >  
          <div class="form-content">
            <div class="form-top-left">
              <h2 class="form-signin-heading"><b id="fuente">SISTEMA ESCALAFÓN</b></h2>
            </div>
          </div>
          <div class="login-wrap">
            <div class="user-login-info">
              <p style="text-align: center" *ngIf="!confirm">Iniciar Sesión</p>
              <p style="text-align: center" *ngIf="confirm">Inscripción de Capacitación</p>

              <div *ngIf="login1">
                <div class="mini-stat clearfix">
                  <div style="text-align: center;">
                    <span class="mini-stat-icon guinda" style="margin: 0 auto;float:none;opacity:0.8">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <div class="mini-stat-info">
                    <span style="height:62px"></span>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <input id="entrada" type="text" class="form-control" placeholder="Usuario" autofocus
                    [(ngModel)]="usuario.nombre" [disabled]="bloquear">
                    
                </div>
                <button class="btn btn-logueo btn-login btn-block" (click)="identificarUsuario()"
                  [disabled]="bloquear">&nbsp; Siguiente  <i class="fa fa-chevron-right"></i></button>
                <script>
                  document.getElementById("entrada").focus();
                </script>
              </div>


              <div *ngIf="login2">
                <div class="mini-stat clearfix">
                  <div style="text-align: center;">
                    <span class="alert-icon" (click)="regresar()" style="position: absolute;left: 0;">
                      <i class="fa fa-chevron-left" style="color: #aec785;"></i>
                    </span>
                    <span class="mini-stat-icon guinda" style="margin: 0 auto;float:none">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <div class="mini-stat-info" style="text-align: center;">
                    <span>{{usuario.nombre}}</span>
                  </div>

                  <select class="form-control" [disabled]="organizaciones.length==1" [(ngModel)]="session.indice"
                    (change)="seleccionarOrg($event.target.value)" style="padding: 4px;font-size: 14px;">
                    <option *ngFor="let to of organizaciones" [value]="to.indice">{{to.nombre}}
                    </option>
                  </select>

                  <select class="form-control" [disabled]="session.organizacionesLista.length==1"
                    [(ngModel)]="session.rolID" style="padding: 4px;font-size: 14px;">
                    <option *ngFor="let to of session.organizacionesLista" [value]="to.rolID">{{to.nombre}}
                    </option>
                  </select>

                </div>
                <div class="form-group has-feedback">
                  <input id="entrada" type="password" class="form-control" placeholder="Contraseña" autofocus
                    [(ngModel)]="usuario.password" [disabled]="bloquear">
                  
                </div>
                <button class="btn btn-lg btn-login btn-block" type="submit" (click)="iniciarSesion()"
                  [disabled]="bloquear">Iniciar Sesion</button>
                <script>
                  document.getElementById("entrada").focus();
                </script>

              </div>

              <label class="checkbox" *ngIf="!confirm">
                <input type="checkbox" value="remember-me"> Recordar Cuenta
                <span class="pull-right">
                  <a data-toggle="modal" href="#recuperar"> Olvidé mi contraseña?</a>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<!--

<body class="login-body">
  <div class="container">
    <div class="form-signin">
      <h2 class="form-signin-heading"><b>SIGESMED</b>V1</h2>

      <div class="login-wrap">
        <div class="user-login-info">
          <p style="text-align: center">Identifiquese para Iniciar Session Final</p><br />
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Usuario" autofocus [(ngModel)]="usuario.nombre">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div><br />
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
        </div>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Recordar Cuenta
          <span class="pull-right">
            <a data-toggle="modal" href="#myModal"> Olvide mi contraseña?</a>
          </span>
        </label>
        <button class="btn btn-lg btn-login btn-block" (click)="iniciarSesion()">Iniciar Session</button>
      </div>

    </div>
  </div>
</body>

-->