body {
    margin : 0;
    font-family : 'Montserrat', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size : 1rem;
    font-weight : 400;
    line-height : 1.5;
    color : #212529;
    text-align : left;
    background-color : #f5f7fa00;
  }
  
  #background{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../../../assets/img/fondo1.jpg') ;
       background-repeat: no-repeat;
       background-position:center;
       background-attachment: fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       z-index: -1;
   }
  .background-image-blur{
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
      -webkit-transition: all 2s ease-out;
      -moz-transition: all 2s ease-out;
      -o-transition: all 2s ease-out;
      -ms-transition: all 2s ease-out;
      transition: all 2s ease-out;
   }
  
  .module-form{
      
      max-width:330px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 250px;
      margin-right: auto;
      opacity: 0; /*Animar transparencia*/
      border-radius: 50pt 50pt 50pt 50pt;
  }