<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
    <li><a routerLink="/principal/menu-inicio">
            <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
        </a></li>
    <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
    <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
            <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa"
                aria-hidden="false"> Tipo Organizacion</span>
        </a></li>
</ul>
<!--breadcrumbs end -->
<section class="panel mat-elevation-z8">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TIPO DE ORGANIZACION</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarTipoOrganizaciones()"><i
                    class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body">
        <div class="tabla-responsiva">
            <table class="table table-striped table-hover" ng-init="listarTipoOrganizaciones()">
                <thead>
                    <tr>
                        <th style="width: 65px;">Codigo</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th style="text-align: center">Estado</th>
                        <th style="width: 85px; text-align: center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tipoOrganizaciones; let i=index">
                        <td class="hidden-phone">{{t.codigo}}</td>
                        <td class="hidden-phone">{{t.nombre}}</td>
                        <td class="hidden-phone">{{t.descripcion}}</td>
                        <td style="text-align: center">
                            <span class="label label-mini"
                                [ngClass]="{'label-info': t.estado=='A','label-warning': t.estado=='I'}">{{t.estado}}</span>
                        </td>
                        <td>
                            <button style="margin-right: .25em"  class="btn btn-primary btn-xs" (click)="prepararEditar(t, i)" data-toggle="modal"
                                data-target="#modalEditar"><i class="fa fa-pencil"></i></button>
                            <button style="margin-right: .25em"  class="btn btn-danger btn-xs"
                                (click)="eliminarTipoOrganizacion(t.tipoOrganizacionID, t.nombre, i)"
                                data-toggle="modal" data-target="#eliminarModal"><i class="fa fa-trash-o "></i></button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div align="right">
            <button style="margin-right: .25em" class="btn btn btn-primary btn-sm" data-toggle="modal"
                data-target="#modalNuevo"><i class="fa fa-plus"></i> Agregar</button>
        </div>

    </div>
</section>

<!--Modal-->
<div id="eliminarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dialogo de confirmacion</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar este registro {{tipoOrganizacionSeleccionado.nombre}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" (click)="confirmacionElimanarModulo()" class="btn btn-warning"
                    data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA ORGANIZACION</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Codigo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevoTipoOrganizacion.codigo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevoTipoOrganizacion.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control"
                                    [(ngModel)]="nuevoTipoOrganizacion.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevoTipoOrganizacion.estado" [value]="'A'"
                                            checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevoTipoOrganizacion.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roles</label>
                            <div class="col-sm-10">
                                <div class="ms-container" id="ms-my_multi_select2">
                                    <div class="ms-selectable">
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" *ngFor="let r of roles; let i=index">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-elem-selectable" (click)="seleccionarRol(i)"
                                                        [hidden]="r.ver"><span>{{r.nombre}}</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ms-selection">
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" *ngFor="let r of rolesSel;let i=index">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-elem-selection" (click)="desSeleccionarRol(i)">
                                                        <span>{{r.nombre}}</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="agregarTipoOrganizacion()"><i
                        class="fa fa-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO ORGANIZACION</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Codigo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="tipoOrganizacionSel.codigo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="tipoOrganizacionSel.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="tipoOrganizacionSel.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="tipoOrganizacionSel.estado"
                                            [value]="'A'">activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="tipoOrganizacionSel.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roles</label>
                            <div class="col-sm-10">
                                <div class="ms-container" id="ms-my_multi_select2">
                                    <div class="ms-selectable">
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" *ngFor="let r of roles; let i=index">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-elem-selectable" (click)="seleccionarRol(i)"
                                                        [hidden]="r.ver"><span>{{r.nombre}}</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ms-selection">
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" *ngFor="let r of rolesSel;let i=index">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-elem-selection" (click)="desSeleccionarRol(i)">
                                                        <span>{{r.nombre}}</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarTipoOrganizacion()"><i
                        class="fa fa-save"></i> Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>