.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24)
}

.hidden{
  display: none;
}
/* @media(min-width: 768px){
  .sidenav{
    display: none;
  }
} */
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-spacer {
  flex: 1 1 auto;
}
.spacer{
  width: 40px;
}
.color-top{
  background-color:#a00c3e
}
@media (min-width: 768px) {
  .color-top{
    background-color:#ffffff
  }
}
.color-text-top{
  color: #ffffff
}
@media (min-width: 768px) {
  .color-text-top{
    color: #000000
  }
}

.layer {
  background-color: #000000c2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}