<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" > 
    <mat-toolbar style="background-color:#a00c3e">
      <img style="margin:10px auto;display:block;" src="assets/img/escalafon.png" width="120px">
    </mat-toolbar>
    <mat-nav-list style="padding-top: 0px;">
      <div id="sidebar" class="nav-collapse" style="background-image: url('assets/img/unsa.jpg'); background-size:485%;">
        <div class="layer">
        <div class="usuario-panel" >
          <div class="pull-left imagen">
            <img src="assets/img/avatar1_small.jpg" class="imagen-usuario img-circle" alt="User Image">
          </div>

          <div class="pull-left info" style="padding: 0 0 0 5px;;word-wrap: break-word;">
            <p>{{usuMaster.usuario.nombre}}</p>
            <p style="word-wrap: break-word;margin-bottom: 0">{{usuMaster.rol.nombre}}</p>
          </div>
        </div>
        <div class="leftside-navigation">
          <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu" *ngFor="let f of funcionalidades">
              <a id="ahover" [routerLink] (click)="elegirVista(f)">
                <i class="fa fa-laptop"></i>
                <span style="width: 175px;">{{f.nombre}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="color-top">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon class="color-text-top">menu</mat-icon>
      </button>
      <span class="color-text-top">GLOBAL</span>
      <span class="example-spacer"></span>
      <mat-icon class="spacer color-text-top" >help</mat-icon>
      <mat-icon class="spacer color-text-top">email</mat-icon>
      <mat-icon class="spacer color-text-top">add_alert</mat-icon>
      <button style="background-color: #f1ebed" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon> Usuario <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon >assignment_ind</mat-icon> Perfil
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon> Configuracion
        </button>
        <button mat-menu-item (click)="cerrarSession()">
            <mat-icon>vpn_key</mat-icon> Cerrar Sesion
        </button>
      </mat-menu>

    </mat-toolbar>

    <div style="padding: 15px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>