<header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="lado-izq">
    <div class="brand">
        <a href class="logo">
          <img src="assets/escalafon.png" alt=""  style="max-width:128px;width:auto;height:auto;" >
        </a>
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars" (click)="ocultarMenu()"></div>
        </div>
    </div>
    

    <!--    
    <div class="nav menu-principal" id="top_menu">
        <ul class="nav top-menu">
            <li class="dropdown" ng-repeat="mp in menuPrincipal">
                <a href ng-click="elegirMenu(mp)" title="{{mp.nombre}}">
                    <i class="fa fa-tasks"></i>
                          <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </div>	
  -->
  </div>
  
  <div class="lado-cen">
    <div class="nombre-institucion" >
        <span class="widget-h nombre" >{{movil?usuMaster.organizacion.alias:usuMaster.organizacion.nombre}}</span>
    </div>
</div>
  
  
  <!--logo end-->
  <div class="lado-der">
      <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
              <!-- inbox dropdown start-->
              <!--<mensajes mensajes="mensajes"></mensajes>-->
              <!-- inbox dropdown end -->
              <!--<notificaciones notificaciones="notificaciones"></notificaciones>-->
          </ul>
          <!--  notification end -->
      </div>

      <div class="top-nav clearfix">
        <ul class="nav pull-right top-menu">
          <li class="dropdown" style="margin-left:0">
            <div data-toggle="dropdown" class="dropdown-toggle icon-user" >
              <i class="fa fa-user"></i>
              <span style="font-size: 15px;">Usuario</span>
            </div>
            <ul class="dropdown-menu extended logout">
              <li><a><i class=" fa fa-suitcase"></i>Perfil</a></li>
              <li><a><i class="fa fa-cog"></i>Configuracion</a></li>
              <li style="cursor:pointer;"><a (click)="cerrarSession()"><i class="fa fa-key" ></i>Cerrar Session</a></li>
            </ul>
          </li>

          <!-- user login dropdown end -->
          <li>
              <div class="toggle-right-box">
                  <div class="fa fa-bars"></div>
              </div>
          </li>

        </ul>
        <!--search & user info end-->
      </div>
  </div>
  </header>