<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
    <li><a routerLink="/principal/menu-inicio">
            <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
        </a></li>
    <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
    <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
            <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa"
                aria-hidden="false"> Funcion Sistema</span>
        </a></li>
</ul>
<!--breadcrumbs end -->

<section class="panel mat-elevation-z8">
    <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">FUNCIONES DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" (click)="listarFunciones()"><i class="fa fa-rotate-right"></i>
                Listar</button>
        </span>
    </header>
    <div class="panel-body" style="font-size:13px;">
        <div class="tabla-responsiva">
            <table class="table table-striped table-advance table-hover ">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Url</th>
                        <th>Clave</th>
                        <th>Interfaz</th>
                        <th>Controlador</th>
                        <th>Icono</th>
                        <th style="text-align: center">Estado</th>
                        <th style="width: 65px">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of funciones; let i = index">
                        <td class="hidden-phone">{{f.nombre}}</td>
                        <td class="hidden-phone">{{f.url}}</td>
                        <td class="hidden-phone">{{f.clave}}</td>
                        <td class="hidden-phone">{{f.interfaz}}</td>
                        <td class="hidden-phone">{{f.controlador}}</td>
                        <td class="hidden-phone">{{f.icono}}</td>
                        <td style="text-align: center">
                            <span class="label label-mini" style="font-size:10px;"
                                [ngClass]="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
                        </td>
                        <td>
                            <button style="margin-right: .25em" class="btn btn-primary btn-xs" 
                                (click)="prepararEditar(f, i)" data-toggle="modal" data-target="#modalEditar">
                                <i class="fa fa-pencil"></i></button>
                            <button style="margin-right: .25em" class="btn btn-danger btn-xs" 
                                (click)="eliminarFuncion(f.funcionID, f.nombre, i)" data-toggle="modal"
                                data-target="#eliminarModal"><i class="fa fa-trash-o "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="float:right;">
            <button style="margin-right: .25em" style="margin-right: .25em" class="btn btn btn-primary btn-sm " data-toggle="modal"
                data-target="#modalNuevo"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>
</section>



<!--Modales-->
<div id="eliminarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dialogo de confirmacion</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar este registro {{funcionSeleccionado.nombre}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" (click)="confirmacionElimanarFuncion()" class="btn btn-warning"
                    data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA FUNCION</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Sub Modulo</label>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="nuevaFuncion.subModuloID">
                                    <option *ngFor="let sm of subModulos" value="{{sm.subModuloID}}">{{sm.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="nuevaFuncion.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.url" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">clave navegacion</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.clave" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">interfaz</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.interfaz" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">controlador</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.controlador" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">icono</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncion.icono" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevaFuncion.estado" [value]="'A'"
                                            checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevaFuncion.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarFuncion()"><i
                        class="fa fa-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR FUNCION DEL SISTEMA</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Sub Modulo</label>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="nuevaFuncionEditar.subModuloID">
                                    <option *ngFor="let sm of subModulos" value="{{sm.subModuloID}}">{{sm.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="nuevaFuncionEditar.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.url" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">clave navegacion</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.clave" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">interfaz</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.interfaz" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">controlador</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.controlador" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">icono</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="nuevaFuncionEditar.icono" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevaFuncionEditar.estado"
                                            [value]="'A'">activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" [(ngModel)]="nuevaFuncionEditar.estado"
                                            [value]="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarFuncion()"><i class="fa fa-save"></i>
                    Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>