<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="usuario-panel">
            <div class="pull-left imagen">
                <img src="assets/avatar1_small.jpg" class="imagen-usuario img-circle" alt="User Image">
            </div>
          
            <div class="pull-left info" style="padding: 0 0 0 5px;;word-wrap: break-word;">
                    <p>{{usuMaster.usuario.nombre}}</p>
                    <p style="word-wrap: break-word;margin-bottom: 0">{{usuMaster.rol.nombre}}</p>
                  </div>
        </div>
 <!-- sidebar menu start

  <div class="pull-left info" style="padding: 0 0 0 5px;;word-wrap: break-word;">
                <p>Admin</p>
                <p style="word-wrap: break-word;">Administrador </p>
            </div>
-->

                            <div class="leftside-navigation"><ul class="sidebar-menu" id="nav-accordion">
                                <li class="sub-menu" *ngFor="let f of funcionalidades">
                                                    <a id="ahover" [routerLink] (click)="elegirVista(f)" >
                                                        <i class="fa fa-laptop"></i>
                                                        <span style="width: 175px;">{{f.nombre}}</span>
                                                        
                                                    </a>
                                               
                                                </li>
                            </ul></div>
        
                            <!-- sidebar menu end-->
    </div>

</aside>