<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
  <li><a routerLink="/principal/menu-inicio">
      <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
    </a></li>
  <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
  <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
      <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa" aria-hidden="false">
        Alerta Sistema</span>
    </a></li>
</ul>
<!--breadcrumbs end -->

<section class="panel mat-elevation-z8">
  <header class="panel-heading">
    <h4 style="display:inline;line-height: 1.9">ALERTAS DEL SISTEMA</h4>
    <span class="tools pull-right">
      <button class="btn btn btn-primary btn-sm" (click)="listarAlertas()"><i class="fa fa-rotate-right"></i>
        Listar</button>
    </span>
  </header>
  <div class="panel-body">
    <div class="tabla-responsiva">
      <table ng-table="tablaAlerta" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px">N</th>
            <th style="width:20%">Codigo</th>
            <th style="width:10%">Nombre</th>
            <th style="width:20%">Accion</th>
            <th style="width:15%">Descripcion</th>
            <th style="width:50px;text-align: center">Tipo</th>
            <th style="width: 65px; text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of alertas; let i = index">
            <td data-title="'N'" sortable="'i'">{{i}}</td>
            <td data-title="'Codigo'" sortable="'codigo'">{{f.alertaID}}</td>
            <td data-title="'Nombre'" sortable="'nombre'">{{f.nombre}}</td>
            <td data-title="'Accion'" sortable="'accion'">{{f.accion}}</td>
            <td data-title="'Descripcion'" sortable="'descripcion'">{{f.descripcion}}</td>
            <td data-title="'Tipo'" sortable="'tipo'" style="text-align: center">
              <span class="label label-mini "
                [ngClass]="{'label-info': f.tipo=='I','label-warning': f.tipo=='A','label-danger':f.tipo=='E'}">{{f.tipo}}</span>
            </td>
            <td data-title="'Accion'" style="text-align: center;">
              <button style="margin-right: .25em" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalEditar"
                (click)="prepararEditar(f, i)"><i class="fa fa-pencil"></i></button>

              <button style="margin-right: .25em" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#eliminarModal"
                (click)="eliminarAlerta(f.alertaID,f.nombre,i)"><i class="fa fa-trash-o "></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div align="right">
      <button style="margin-right: .25em" class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus"></i>
        Agregar</button>
    </div>

  </div>
</section>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{agregar?'NUEVA':'ACTUALIZAR'}} ALERTA</h4>
      </div>
      <div class="modal-body">

        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Tipo</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlerta.tipo" [value]="'I'">informacion</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlerta.tipo" [value]="'A'">advertencia</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlerta.tipo" [value]="'E'">error</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Funcion</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevaAlerta.funcionID">
                  <option *ngFor="let f of funciones " value="{{f.funcionID}}">{{f.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Codigo</label>
              <div class="col-sm-10">
                <span type="text" class="form-control"
                  style="width: 55px;display: inline-block">{{nuevaAlerta.tipo=='I'?1:nuevaAlerta.tipo=='A'?2:3}}-{{nuevaAlerta.modulo}}</span>
                -
                <input type="text" class="form-control" style="width: 45px;display: inline-block"
                  [(ngModel)]="nuevaAlerta.alertaID">

              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaAlerta.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Accion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaAlerta.accion">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Descripcion</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="nuevaAlerta.descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarAlerta()"><i
            class="fa fa-check"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{agregar?'NUEVA':'ACTUALIZAR'}} ALERTA</h4>
      </div>
      <div class="modal-body">

        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Tipo</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlertaEditar.tipo" [value]="'I'">informacion</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlertaEditar.tipo" [value]="'A'">advertencia</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaAlertaEditar.tipo" [value]="'E'">error</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Funcion</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevaAlertaEditar.funcionID">
                  <option *ngFor="let f of funciones " value="{{f.funcionID}}">{{f.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Codigo</label>
              <div class="col-sm-10">
                <span type="text" class="form-control"
                  style="width: 55px;display: inline-block">{{nuevaAlertaEditar.tipo=='I'?1:nuevaAlertaEditar.tipo=='A'?2:3}}-{{nuevaAlertaEditar.modulo}}</span>
                -
                <input type="text" class="form-control" style="width: 45px;display: inline-block"
                  [(ngModel)]="nuevaAlertaEditar.alertaID">

              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaAlertaEditar.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Accion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaAlertaEditar.accion">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Descripcion</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="nuevaAlertaEditar.descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarAlerta()"><i
            class="fa fa-check"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>


<div id="eliminarModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dialogo de confirmacion</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que desea eliminar este registro {{alertaSeleccionada.nombre}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" (click)="confirmacionElimanarAlerta()" class="btn btn-warning"
          data-dismiss="modal">Si</button>
      </div>
    </div>
  </div>
</div>