<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
  <li><a routerLink="/principal/menu-inicio">
      <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
    </a></li>
  <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
  <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
      <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa" aria-hidden="false">
        Organizaciones</span>
    </a></li>
</ul>
<!--breadcrumbs end -->
<section class="panel mat-elevation-z8">
  <header class="panel-heading">
    <h4 style="display:inline;line-height: 1.9">ORGANIZACIONES</h4>
    <span class="tools pull-right">
      <button class="btn btn btn-primary btn-sm" (click)="listarOrganizaciones()"><i class="fa fa-rotate-right"></i>
        Listar</button>
    </span>
  </header>
  <div class="panel-body">
    <div class="tabla-responsiva">
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th style="width:50px">Codigo</th>
            <th style="width:10%">Nombre</th>
            <th style="width:10%">alias</th>
            <th style="">Descripcion</th>
            <th style="width:25%">Direccion</th>
            <th style="width:50px;text-align: center">Estado</th>
            <th style="width: 75px">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of organizaciones;let i = index ">
            <td class="hidden-phone">{{o.codigo}}</td>
            <td class="hidden-phone">{{o.nombre}}</td>
            <td class="hidden-phone">{{o.alias}}</td>
            <td class="hidden-phone">{{o.descripcion}}</td>
            <td class="hidden-phone">{{o.direccion}}</td>
            <td style="text-align: center">
              <span class="label label-mini"
                [ngClass]="{'label-info': o.estado=='A','label-warning': o.estado=='I'}">{{o.estado}}</span>
            </td>
            <td>
              <button style="margin-right: .25em"  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalEditar"
                (click)="prepararEditar(o, i)"><i class="fa fa-pencil"></i></button>
              <button style="margin-right: .25em"  class="btn btn-danger btn-xs" data-toggle="modal" data-target="#eliminarModal"
                (click)="eliminarOrganizacion(o.organizacionID, o.nombre, i)"><i class="fa fa-trash-o "></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="float:right;">
      <button style="margin-right: .25em"  class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus"></i>
        Agregar</button>
      <button style="margin-right: .25em"  class="btn btn-danger btn-sm" (click)="eliminarOrganizaciones()"><i class="fa fa-times"></i>
        Eliminar</button>
    </div>

  </div>
</section>


<div id="eliminarModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dialogo de confirmacion</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que desea eliminar este registro {{organizacionSeleccionado.nombre}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" (click)="confirmacionElimanarModulo()" class="btn btn-warning"
          data-dismiss="modal">Si</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR ORGANIZACION</h4>
      </div>
      <div class="modal-body">


        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Tipo Organizacion</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevoSelEditar.tipoOrganizacionID">
                  <option *ngFor="let to of tipoOrganizaciones " value="{{to.tipoOrganizacionID}}">{{to.nombre}}
                  </option>

                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Codigo</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoSelEditar.codigo">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoSelEditar.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoSelEditar.alias">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Descripcion</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="nuevoSelEditar.descripcion"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Direccion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoSelEditar.direccion">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Organizacion Padre(opcional)</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevoSelEditar.organizacionPadreID">
                  <option value="0"></option>
                  <option *ngFor="let o of organizaciones " value="{{o.organizacionID}}">{{o.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevoSelEditar.estado" [value]="'A'">activo</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevoSelEditar.estado" [value]="'I'">inactivo</label>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarOrganizacion()"><i
            class="fa fa-save"></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA ORGANIZACION</h4>
      </div>
      <div class="modal-body">


        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Tipo Organizacion</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevaOrganizacion.tipoOrganizacionID">
                  <option *ngFor="let to of tipoOrganizaciones " value="{{to.tipoOrganizacionID}}">{{to.nombre}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Codigo</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaOrganizacion.codigo">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaOrganizacion.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaOrganizacion.alias">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Descripcion</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="nuevaOrganizacion.descripcion"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Direccion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevaOrganizacion.direccion">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Organizacion Padre(opcional)</label>
              <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="nuevaOrganizacion.organizacionPadreID">
                  <option value="0"></option>
                  <option *ngFor="let o of organizaciones " value="{{o.organizacionID}}">{{o.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaOrganizacion.estado" [value]="'A'" checked>activo</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevaOrganizacion.estado" [value]="'I'">inactivo</label>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarOrganizacion()"
          data-dismiss=" "><i class="fa fa-check"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>