<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
  <li><a routerLink="/principal/menu-inicio">
      <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
    </a></li>
  <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
  <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
      <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa" aria-hidden="false">
        Tipo Areas</span>
    </a></li>
</ul>
<!--breadcrumbs end -->

<section class="panel mat-elevation-z8">

  <header class="panel-heading">
    <h4 style="display:inline;line-height: 1.9">TIPOS DE AREAS</h4>
    <span class="tools pull-right">
      <button class="btn btn btn-primary btn-sm" (click)="listarTipoAreas()"><i class="fa fa-rotate-right"></i>
        Listar</button>
    </span>
  </header>
  <div class="panel-body">

    <div class="tabla-responsiva">
      <table ng-table="tablaTipoArea" class="table table-striped table-hover" show-filter="true">
        <colgroup>
          <col width="20px" />
          <col width="auto" />
          <col width="30%" />
          <col width="100px" />
          <col width="65px" />
        </colgroup>
        <thead>
          <tr>
            <th style="width:30px">N</th>
            <th style="width:30%">Nombre</th>
            <th style="width:30%">Alias</th>
            <th style="width:20%; text-align: center">Estado</th>
            <th style="width: 65px; text-align: center">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of tipoArea;let i = index ">
            <td data-title="'N'">{{i}}</td>
            <td data-title="'Nombre'">{{f.nombre}}</td>
            <td data-title="'Alias'">{{f.alias}}</td>
            <td data-title="'Estado'" style="text-align: center">
              <span class="label label-mini"
                [ngClass]="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
            </td>
            <td data-title="'Accion'" style="text-align: center;">
              <button style="margin-right: .25em" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalEditar"
                (click)="prepararEditar(f, i)"><i class="fa fa-pencil"></i></button>
              <button style="margin-right: .25em"  class="btn btn-danger btn-xs" data-toggle="modal" data-target="#eliminarModal"
                (click)="eliminarTipoArea(f.tipoAreaID,f.nombre, i)"><i class="fa fa-trash-o "></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div align="right">
      <button style="margin-right: .25em"  class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus"></i>
        Agregar</button>
    </div>

  </div>
</section>


<div id="eliminarModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dialogo de confirmacion</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que desea eliminar este registro {{tipoAreaSeleccionado.nombre}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" (click)="confirmacionElimanarModulo()" class="btn btn-warning"
          data-dismiss="modal">Si</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO AREA</h4>
      </div>
      <div class="modal-body">


        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="editTipoArea.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="editTipoArea.alias">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="editTipoArea.estado" [value]="'A'" checked>activo</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="editTipoArea.estado" [value]="'I'">inactivo</label>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="editarTipoArea()"><i class="fa fa-save"></i> Guardar
          Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA TIPO AREA</h4>
      </div>
      <div class="modal-body">


        <div class="form-panel">
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoTipoArea.nombre">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="nuevoTipoArea.alias">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-10">
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevoTipoArea.estado" [value]="'A'" checked>activo</label>
                </div>
                <div class="radio" style="display: inline-block">
                  <label><input type="radio" [(ngModel)]="nuevoTipoArea.estado" [value]="'I'">inactivo</label>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarTipoArea()"><i class="fa fa-check"></i>
          Guardar</button>
      </div>
    </div>
  </div>
</div>