<div class="row">

  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body mi-tabla-body">
        <div style="float: left;">
          <button class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i
              class="fa fa-plus"></i> Crear Diseño Curricular</button>
        </div>

        <!--
          <table ng-table="tabla" class="table" template-pagination="custom/pager">
        -->
        <table class="table">

          <tr *ngFor="let o of dataGeneral">
            <td>
              <div class="profile-information">
                <div class="col-md-9">
                  <div class="profile-desk">
                    <h1 style="margin-top: 0">{{o.nombre}}</h1>
                    <span class="text-muted" style="padding-bottom: 10px;">{{o.resolucion}}</span>
                    <p style="display: block;padding-bottom: 0px;">
                      {{o.descripcion}}
                    </p>
                    <div style="float: left;">
                      <button class="btn btn-primary btn-sm" (click)="prepararEditar(o)"
                        [hidden]="organizacionID==o.organizacionID"><i class="fa fa-pencil"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="profile-statistics">
                    <h1 style="margin-top: 0">{{o.tipo}}</h1>
                    <p>{{o.fecha}}</p>
                    <ul style="margin-top: 0px;">
                      <li>
                        <a title="ver resolucion"
                          href="http://www.minedu.gob.pe/curriculo/pdf/curriculo-nacional-2016-2.pdf" target="-1">
                          <i class="fa fa-file"></i>
                        </a>
                      </li>
                      <li>Currículo Nacional MINEDU</li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</div>



<ngb-tabset justified="true">

  <ngb-tab index="0" title="Fase 1">
    <section class="panel">
      <div class="row">
        <div class="col-lg-12">
          <ng-template ngbTabContent>

            <ngb-tabset justified="true">

              <ngb-tab index="0" title="MODALIDAD">
                <ng-template ngbTabContent>
                  <section class="panel">
                    <div class="panel-body" style="display: block;">
                      <div class="form-horizontal style-form">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Nombre</label>
                          <div class="col-sm-10">

                            <select class="form-control" [(ngModel)]="disenoActual.modalidad">
                              <option *ngFor="let mod of modals" [value]="to.indice">{{to.nombre}}
                              </option>
                            </select>


                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

              <ngb-tab index="1" title="NIVELES">
                <ng-template ngbTabContent>

                  <section class="panel">
                    <div class="panel-body" style="display: block;">
                      <table class="table table-bordered peque" style="margin-bottom: 0;">
                        <thead>
                          <tr>
                            <th style="width:50px">Abr</th>
                            <th style="width:25%;">Nombre</th>
                            <th style="width:auto">Descripcion</th>
                            <th style="width:55px">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of disenoActual.niveles">
                            <td>
                              <span [hidden]="o.edi">{{o.abreviacion}}</span>
                              <span [hidden]="!o.edi"><input style="max-width:50px"
                                  [(ngModel)]="o.abreviacion" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.nombre}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.nombre" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.descripcion}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.descripcion" /></span>
                            </td>
                            <td>
                              <div [hidden]="!organizacionID==disenoActual.organizacionID">
                                <button type="button" class="btn btn-primary btn-xs" (click)="editarNivel($index,o)"><i
                                    class="fa" [ngClass]="{'fa-check':o.edi,'fa-pencil':!o.edi}"></i></button>
                                <button type="button" class="btn btn-xs" [ngClass]="{'btn-danger':!o.edi}"
                                  (click)="eliminarNivel($index,o)"><i class="fa"
                                    [ngClass]="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table [hidden]="!organizacionID==disenoActual.organizacionID" class="table peque"
                        style="margin-bottom: 0;background: #f1f2f7;">
                        <tr>
                          <td style="width:50px"><input type="text" class="form-control input-table"
                              [(ngModel)]="nivel.abreviacion"></td>
                          <td style="width:25%"><input type="text" class="form-control input-table"
                              [(ngModel)]="nivel.nombre">
                          </td>
                          <td style="width:auto;"><input type="text" class="form-control input-table"
                              [(ngModel)]="nivel.descripcion"></td>
                          <td style="width:55px">
                            <button class="btn btn-success btn-xs" (click)="agregarNivel()" title="agregar nivel"><i
                                class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-xs" (click)="nivel = {};" title="cancelar"><i
                                class="fa fa-times"></i></button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

              <ngb-tab index="2" title="CICLOS">
                <ng-template ngbTabContent>

                  <section class="panel">
                    <div class="panel-body" style="display: block;">

                      <table class="table table-bordered peque" style="margin-bottom: 0;">
                        <thead>
                          <tr>
                            <th style="width:50px">Abr</th>
                            <th style="width:25%;">Nombre</th>
                            <th style="width:auto">Descripcion</th>
                            <th style="width:55px">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of disenoActual.ciclos">
                            <td>
                              <span [hidden]="o.edi">{{o.abreviacion}}</span>
                              <span [hidden]="!o.edi"><input style="max-width:50px"
                                  [(ngModel)]="o.abreviacion" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.nombre}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.nombre" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.descripcion}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.descripcion" /></span>
                            </td>
                            <td>
                              <div [hidden]="!organizacionID==disenoActual.organizacionID">
                                <button type="button" class="btn btn-primary btn-xs" (click)="editarCiclo($index,o)"><i
                                    class="fa" [ngClass]="{'fa-check':o.edi,'fa-pencil':!o.edi}"></i></button>
                                <button type="button" class="btn btn-xs" [ngClass]="{'btn-danger':!o.edi}"
                                  (click)="eliminarCiclo($index,o)"><i class="fa"
                                    [ngClass]="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table [hidden]="!organizacionID==disenoActual.organizacionID" class="table peque"
                        style="margin-bottom: 0;background: #f1f2f7;">
                        <tr>
                          <td style="width:50px"><input type="text" class="form-control input-table"
                              [(ngModel)]="ciclo.abreviacion"></td>
                          <td style="width:25%"><input type="text" class="form-control input-table"
                              [(ngModel)]="ciclo.nombre"></td>
                          <td style="width:auto;"><input type="text" class="form-control input-table"
                              [(ngModel)]="ciclo.descripcion"></td>
                          <td style="width:55px">
                            <button class="btn btn-success btn-xs" (click)="agregarCiclo()" title="agregar ciclo"><i
                                class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-xs" (click)="ciclo = {};" title="cancelar"><i
                                class="fa fa-times"></i></button>
                          </td>
                        </tr>
                      </table>



                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

              <ngb-tab index="3" title="GRADOS">
                <ng-template ngbTabContent>
                  <section class="panel">

                    <div class="panel-body" style="display: block;">
                      <table class="table table-bordered peque" style="margin-bottom: 0;">
                        <thead>
                          <tr>
                            <th style="width:15%;">Nivel</th>
                            <th style="width:10%;">Ciclo</th>
                            <th style="width:50px">Abr</th>
                            <th style="width:25%;">Nombre</th>
                            <th style="width:auto">Descripcion</th>
                            <th style="width:55px">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of disenoActual.grados">
                            <td>
                              <span [hidden]="o.edi">{{o.nivel}}</span>
                              <span [hidden]="!o.edi"><select class="form-control input-table" [(ngModel)]="o.nivelID"
                                  ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select></span>
                            </td>
                            <td>
                              <span [hidden]="o.edi">{{o.ciclo}}</span>
                              <span [hidden]="!o.edi"><select class="form-control input-table" [(ngModel)]="o.cicloID"
                                  ng-options="o.cicloID as o.abreviacion for o in disenoActual.ciclos"></select></span>
                            </td>
                            <td>
                              <span [hidden]="o.edi">{{o.abreviacion}}</span>
                              <span [hidden]="!o.edi"><input style="max-width:50px"
                                  [(ngModel)]="o.abreviacion" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.nombre}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.nombre" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.descripcion}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.descripcion" /></span>
                            </td>
                            <td>
                              <div [hidden]="!organizacionID==disenoActual.organizacionID">
                                <button type="button" class="btn btn-primary btn-xs" (click)="editarGrado($index,o)"><i
                                    class="fa" [ngClass]="{'fa-check':o.edi,'fa-pencil':!o.edi}"></i></button>
                                <button type="button" class="btn btn-xs" [ngClass]="{'btn-danger':!o.edi}"
                                  (click)="eliminarGrado($index,o)"><i class="fa"
                                    [ngClass]="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table [hidden]="!organizacionID==disenoActual.organizacionID" class="table peque"
                        style="margin-bottom: 0;background: #f1f2f7;">
                        <tr>
                          <td style="width:15%">
                            <select class="form-control" [(ngModel)]="grado.nivelID">
                              <option *ngFor="let o of disenoActual.niveles" [value]="o.nombre">{{o.nombre}}
                              </option>
                            </select>
                          </td>
                          <td style="width:10%">
                            <select class="form-control" [(ngModel)]="grado.cicloID">
                              <option *ngFor="let o of disenoActual.ciclos" [value]="o.abreviacion">{{o.abreviacion}}
                              </option>
                            </select>
                          </td>
                          <td style="width:50px"><input type="text" class="form-control input-table"
                              [(ngModel)]="grado.abreviacion"></td>
                          <td style="width:25%"><input type="text" class="form-control input-table"
                              [(ngModel)]="grado.nombre"></td>
                          <td style="width:auto;"><input type="text" class="form-control input-table"
                              [(ngModel)]="grado.descripcion"></td>
                          <td style="width:55px">
                            <button class="btn btn-success btn-xs" (click)="agregarGrado()" title="agregar grado"><i
                                class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-xs" (click)="grado = {};" title="cancelar"><i
                                class="fa fa-times"></i></button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

              <ngb-tab index="4" title="AREA CURRICULAR">
                <ng-template ngbTabContent>
                  <section class="panel">
                    <div class="panel-body" style="display: block;">

                      <table class="table table-bordered peque" style="margin-bottom: 0;">
                        <thead>
                          <tr>
                            <th style="width:10%;">Tipo</th>
                            <th style="width:50px">Abr</th>
                            <th style="width:25%;">Nombre</th>
                            <th style="width:auto">Descripcion</th>
                            <th style="width:55px">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of disenoActual.areas">
                            <td>
                              <span [hidden]="o.edi">{{o.tipo? 'taller':'area'}}</span>
                              <span [hidden]="!o.edi">

                                <select class="form-control input-table" [(ngModel)]="o.tipo">
                                  <option value="taller">taller</option>
                                  <option value="area">area</option>
                                </select>


                                <!--
                                <select class="form-control input-table" [(ngModel)]="o.tipo"
                                  ng-options="(item?'taller':'area') for item in [true, false]">
                                </select>
                                -->


                              </span>
                            </td>
                            <td>
                              <span [hidden]="o.edi">{{o.abreviacion}}</span>
                              <span [hidden]="!o.edi"><input style="max-width:50px"
                                  [(ngModel)]="o.abreviacion" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.nombre}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.nombre" /></span>
                            </td>
                            <td style="word-break: break-all;">
                              <span [hidden]="o.edi">{{o.descripcion}}</span>
                              <span [hidden]="!o.edi"><input [(ngModel)]="o.descripcion" /></span>
                            </td>
                            <td>
                              <div [hidden]="!organizacionID==disenoActual.organizacionID">
                                <button type="button" class="btn btn-primary btn-xs" (click)="editarArea($index,o)"><i
                                    class="fa" [ngClass]="{'fa-check':o.edi,'fa-pencil':!o.edi}"></i></button>
                                <button type="button" class="btn btn-xs" [ngClass]="{'btn-danger':!o.edi}"
                                  (click)="eliminarArea($index,o)"><i class="fa"
                                    [ngClass]="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table [hidden]="!organizacionID==disenoActual.organizacionID" class="table peque"
                        style="margin-bottom: 0;background: #f1f2f7;">
                        <tr>


                          <td style="width:10%">
                            <select class="form-control input-table" [(ngModel)]="area.tipo">
                              <option value="taller">taller</option>
                              <option value="area">area</option>
                            </select>
                          </td>


                          <td style="width:50px"><input type="text" class="form-control input-table"
                              [(ngModel)]="area.abreviacion"></td>
                          <td style="width:25%"><input type="text" class="form-control input-table"
                              [(ngModel)]="area.nombre"></td>
                          <td style="width:auto;"><input type="text" class="form-control input-table"
                              [(ngModel)]="area.descripcion"></td>
                          <td style="width:55px">
                            <button class="btn btn-success btn-xs" (click)="agregarArea()"
                              title="agregar area curricular"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-xs" (click)="area = {tipo:false};" title="cancelar"><i
                                class="fa fa-times"></i></button>
                          </td>
                        </tr>
                      </table>


                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </ng-template>
        </div>
      </div>
    </section>
  </ngb-tab>

  <ngb-tab index="1" title="Fase 2">
    <ng-template ngbTabContent>

      <div *ngIf="true || (checkPhase1() && iniFase2) || checkPhase2()" class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">CUADRO DEL PLAN DE ESTUDIOS</h4>
          </header>
          <div class="panel-body">
            <div class="tabla-responsiva">
              <table class="table table-invoice" style="margin-top: 0px;">
                <thead>
                  <tr>
                    <th>NIVELES</th>
                    <th class="text-center" *ngFor="let o of matris.niveles">{{o.nom}}</th>
                  </tr>
                  <tr>
                    <th>CICLOS</th>
                    <th class="text-center" *ngFor="let o of matris.ciclos">{{o.nom}}</th>
                  </tr>
                  <tr>
                    <th>GRADOS</th>
                    <th class="text-center" *ngFor="let o of disenoActual.grados">{{o.nombre}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of matris.gradoAreas">
                    <td style="background: #e8e9f0">
                      <span
                        style="writing-mode: tb-rl;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotateZ(-180deg);">AREAS
                        CURRICULARES</span>
                    </td>
                    <td class="text-center" *ngFor="let o of a" [ngClass]="{'areaSel':o,'areaNoSel':!o}">

                      <div *ngIf="o!=undefined">
                        <span style="display: inline-block;" (click)="editarGradoArea(o)">{{o.nombre}} </span>
                        <button [hidden]="!organizacionID==disenoActual.organizacionID && o.edi" type="button"
                          class="btn btn-xs btn-danger" style="margin-left: 15px" (click)="eliminarGradoArea(o,$index)"
                          title="eliminar"><i class="fa fa-trash-o"></i></button>

                      </div>

                    </td>
                  </tr>
                  <tr [hidden]="!organizacionID==disenoActual.organizacionID">
                    <th style="padding-left: 3.5%; padding-bottom: 0px;">
                      <label style="width: 60%;display: inline-block;">Grado:</label>
                      <label style="width: 60%;display: inline-block;">Area:</label>
                    </th>
                  </tr>
                  <tr [hidden]="!organizacionID==disenoActual.organizacionID">
                    <th class="text-center">


                      <select class="form-control input-table" [(ngModel)]="gradoArea.grado">
                        <option *ngFor="let o of disenoActual.grados" [value]="o.nombre">{{o.nombre}}
                        </option>
                      </select>


                      <select class="form-control input-table" [(ngModel)]="gradoArea.area">
                        <option *ngFor="let o of disenoActual.areas" [value]="o.nombre">{{o.nombre}}
                        </option>
                      </select>


                     
                      <button class="btn btn-success btn-xs" (click)="agregarGradoArea()"
                        title="agregar area al grado"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn btn-xs" (click)="gradoArea = {};" title="cancelar"><i
                          class="fa fa-times"></i></button>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>


    </ng-template>
  </ngb-tab>



</ngb-tabset>