/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body{
    margin: 0;
}
.mat-drawer-content{
    background-color: #f1ebed;  
}
.gsc{
    background-color: #ffffff;  
}