<!--breadcrumbs start -->
<ul class="breadcrumb mat-elevation-z5" style="text-transform: uppercase;">
    <li><a routerLink="/principal/menu-inicio">
        <i class="fa fa-home"></i><span ng-hide="movil" aria-hidden="false" class="">Inicio</span>
      </a></li>
    <!--<li ng-hide='subModNom==""'><a href ng-click="menuToggle(true, subModuloActual)"><i class="fa fa-angle-double-right"></i><span ng-hide="movil"> {{subModNom}}</span></a></li>-->
    <li class="active" ng-hide="visNom==&quot;&quot;" aria-hidden="false"><a>
            <i class="fa fa-angle-double-right"></i><span ng-hide="movil" class="ng-binding texto-unsa"
                aria-hidden="false">
                Roles</span>
        </a></li>
</ul>
<!--breadcrumbs end -->
<section class="panel mat-elevation-z8">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">ROLES</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" (click)="listarRoles()"><i class="fa fa-rotate-right"></i>
                Listar</button>
        </span>
    </header>
        <div class="tabla-responsiva">
            <table ng-table="tablaRol" class="table table-striped table-hover" show-filter="true">
                    <thead>
                            <tr>
                              <th style="width:10px">N</th>
                              <th style="width:20%">Abrebiatura</th>
                              <th style="width:10%">Nombre</th>
                              <th style="width:50%">Descripcion</th>                              
                              <th style="width:50px;text-align: center">Tipo</th>
                              <th style="width: 65px; text-align: center">Accion</th>
                            </tr>
                          </thead>
                          <tbody>
                <tr *ngFor="let r of roles; let i=index">
                    <td data-title="'N'" sortable="'i'" style="width:20px">{{i}}</td>
                    <td data-title="'Abrebiatura'" filter="{ abreviatura: 'text'}" sortable="'abreviatura'"
                        style="width:10%">{{r.abreviatura}}</td>
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" style="width:15%">
                        {{r.nombre}}</td>
                    <td data-title="'Descripcion'" sortable="'descripcion'">{{r.descripcion}}</td>
                    <td style="text-align: center">
                            <span class="label label-mini" style="font-size:10px;"
                                [ngClass]="{'label-info': r.estado=='A','label-warning': r.estado=='I'}">{{r.estado}}</span>
                        </td>
                    <td data-title="'Accion'" style="text-align: center;width: 65px">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(r)"><i
                                class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger btn-xs" (click)="eliminarRol(r.rolID, r.nombre, i)"
                                data-toggle="modal" data-target="#eliminarModal"><i
                                class="fa fa-trash-o "></i></button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div align="right">
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i
                    class="fa fa-plus"></i> Agregar</button>
            <!--<button class="btn btn-danger " ng-click="eliminarRoles()"><i class="fa fa-times" ></i> Eliminar</button>-->
        </div>

</section>

<!--Modal-->
<div id="eliminarModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dialogo de confirmacion</h4>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea eliminar este registro {{rolesSeleccionado.nombre}} ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" (click)="confirmacionElimanarModulo()" class="btn btn-warning"
                        data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
    
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">NUEVO ROL</h4>
        </div>

        <div class="modal-body">
                <div class="form-panel">
                        <div class="form-horizontal style-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Abrebiatura</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [(ngModel)]="nuevoRol.abreviatura">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" [(ngModel)]="nuevoRol.nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Descripcion</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                        [(ngModel)]="nuevoRol.descripcion"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado</label>
                                <div class="col-sm-10">
                                    <div class="radio" style="display: inline-block">
                                        <label><input type="radio" [(ngModel)]="nuevoRol.estado" [value]="'A'"
                                                checked>activo</label>
                                    </div>
                                    <div class="radio" style="display: inline-block">
                                        <label><input type="radio" [(ngModel)]="nuevoRol.estado"
                                                [value]="'I'">inactivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Funciones(*)</label>
                                    <div class="col-sm-12">
                                        <div class="ms-container" id="ms-my_multi_select2">
                                        <div class="ms-selectable">
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" *ngFor="let sm of subModulos; let i=index"><ul class="ms-optgroup">
                                                <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;"  [hidden]="sm.ver"><span>{{sm.nombre}} </span></li>
                                                <li class="ms-elem-selectable" *ngFor="let f of sm.funciones; let j=index" (click)="seleccionarFuncion(i,j)" [hidden]="f.ver"><span>{{f.nombre}}</span></li>
                                            </ul></li>
                                        </ul>
                                        </div>
                                        <div class="ms-selection" style="width: 51%">
                                        <ul class="ms-list" tabindex="-1">
                                                <li class="ms-optgroup-container" *ngFor="let sm of subModulosSel; let i=index"><ul class="ms-optgroup">
                                                <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;"><span>{{sm.nombre}}</span></li>
                                                <li class="ms-elem-selection" *ngFor="let f of sm.funciones; let j=index" style="padding-right: 0;">
                                                <span (click)="desSeleccionarFuncion(i,j)" style="display: inline-block;width: calc( 100% - 100px );">{{f.nombre}}</span>
                                                    <select  class="form-control" style="font-size: 13px;float:right;height: 20px;width: 100px;padding:0" [ngModel]="f.tipo" >
                                                            <option *ngFor="let t of f.tipos" value="{{t.id}}">{{t.title}}
                                                                </option>
                                                    </select>
                                                </li>
                                                    </ul></li>
                                        </ul>


                                        </div></div>
                                    </div>
                                </div>
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"  ng-click="agregarRol()"><i class="fa fa-check" ></i> Guardar</button>
        </div>
      
      </div>
    </div>
  </div>
  
  